.admin__container {
    margin: 5rem 0;
    grid-row: 3 / 4;
    grid-column: center-start / center-end;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__game {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            font-size: 3rem;
            font-weight: 700;
            color: $color-primary;
            margin: 5rem 0;
        }

        &-highlight {
            font-size: 2rem;
            font-weight: 500;
            color: $color-grey-dark-2;
            margin: 2rem 0;
        }

        &-msg {
            font-size: 2rem;
            font-weight: 500;
            color: $color-grey-dark-2;
        }
    }

    &__item {
        padding: 2rem 2.5rem;
        margin: 2rem 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-flow: wrap;

        &-attr {
            font-size: 1.5rem;
            padding: 1rem 3rem;

            span {
                font-weight: 700;
            }
        }

        &-date {
            font-size: 2rem;
        }

        &-btns {
            align-self: center;
        }

        @media only screen and (max-width: $bp-small) {
            padding: 1.5rem 1rem;

            &-attr {
                width: 100%;
            }
        }
    }
}
