
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin">
    <div class="common-header">
        <div class="common-header-title">
            Admin Home Page
        </div>
    </div>

    @Html.Partial("AdminNav")
</div>

